.file-uploader {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-self: center;
  }
  .file-upload-title{
    color :#0e6f3a;
    font-weight: 600;

  }
  
  .upload-label {
    display: flex;
    background-color: #107C41;
    color: white;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .upload-label:hover {
    background-color: #0e6f3a;
  }
  
  .file-input {
    display: none;
  }
  